<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <center>
      {{> header}}
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </center>
  </body>
</html>
